<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>This app needs access to network to connect to MAVLink devices over TCP/UDP</string>
  <key>NSNetworkClientUsageDescription</key>
  <string>This app needs access to network to connect to MAVLink devices over TCP/UDP</string>
  <key>NSNetworkServerUsageDescription</key>
  <string>This app needs access to network to connect to MAVLink devices over TCP/UDP</string>
  <key>NSSerialPortUsageDescription</key>
  <string>This app needs access to serial ports to connect to MAVLink devices</string>
</dict>
</plist>